<div *ngIf="loaded; else notloaded" style="width: 80%">
    <div class="box filled center">
    <h4>{{type()}}: {{testInfo.name}}</h4>
    <div>{{testInfo.info}}</div>
    </div>
<div *ngIf="!started; else displayTest" class='centered'>
    Vreme izrade {{typePrompt()}}: {{testInfo.durationMin}} minuta <br><br>
    <button (click)="startTest()">Počni</button><br>
    <span style="color: red;">{{this.errorMsgStart}}</span>
</div>
<ng-template #displayTest>
    <div class="progress-bar-timer"></div>
    <div *ngFor="let question of testInfo.questions; let i = index" [attr.data-index]="i">
        <app-display-question [question]='question' [answers]='response.answers[i]' [index]="i+1"></app-display-question>
    </div>
    <div class="box filled" style="display: grid">
        <button (click)="save()">Sacuvaj</button><br>
        <button (click)="submit()">Predaj</button>
    </div>
</ng-template>
</div>
<ng-template #notloaded>Loading...</ng-template>
