<div *ngIf="loaded; else notloaded">
    <div class="box filled center test-lower wide">
    <h4>{{type()}}: {{testInfo.name}}</h4>
    <div>{{testInfo.info}}</div>
    </div>
<div *ngIf="!started; else displayTest" class='centered'>
    Vreme izrade {{typePrompt()}}: {{testInfo.durationMin}} minuta <br><br>
    <button (click)="startTest()">Počni</button><br>
</div>
<ng-template #displayTest>
    <app-progress-bar [endTime]="endTime" [answers]="response.answers" [finishedCallback]='finished'></app-progress-bar>
    <div *ngFor="let question of testInfo.questions; let i = index" [attr.data-index]="i">
        <app-display-question [question]='question' [answers]='response.answers[i]' [index]="i+1"  classes="wide"></app-display-question>
    </div>
    <div class="box filled wide" style="display: grid">
        <button (click)="save()">Sacuvaj</button><br>
        <button (click)="submit()">Predaj</button>
    </div>
</ng-template>
<span style="color: red;">{{this.errorMsgStart}}</span>
</div>
<ng-template #notloaded>Loading...</ng-template>
