<h3>Napravi novi test</h3>

<h5 style="color:red;">{{this.errorMsg}}</h5>
<form [formGroup]="baseForm">
    <div class="form-group">
        <label for="name">Ime testa</label>
        <input formControlName="name" type="string" class="form-control"
        id="name" placeholder="Ime">
    </div>
    <div class="form-group">
        <label for="type">Tip</label>
        <span><input formControlName="type" type="radio" class="form-control"
        id="typea" value='A'> Anketa</span>
        <span><input formControlName="type" type="radio" class="form-control"
        id="typet" value='T'> Test</span>      
    </div>
    <div class="form-group" *ngIf="baseForm.get('type').value==='A'">
        <label for="anon">Anonimna</label><input formControlName="anon" type="checkbox" class="form-control"
        id="anon">
    </div>
    <div class="form-group">
        <label for="info">Informacije o testu</label>
        <input formControlName="anon" type="text" class="form-control"
        id="text" placeholder="Informacije">
    </div>
    <div class="form-group">
        <label for="begin">Pocetak</label>
        <input formControlName="begin"
        type="datetime-local" class="form-control" id="begin" placeholder="Ime">
    </div>
    <div class="form-group">
        <label for="end">Kraj</label>
        <input formControlName="end"
        type="datetime-local" class="form-control" id="end" placeholder="Ime">
    </div>
    <div class="form-group">
        <label for="durationMin">Trajanje izrade (minuti)</label>
        <input formControlName="durationMin"
        type="number" class="form-control" id="durationMin" placeholder="Trajanje">
    </div>
</form>

<div *ngFor="let q of questions; let i = index" [attr.data-index]="i">
    {{i+1}}. Pitanje <button (click)="removeQuestion(i)">Obrisi pitanje</button><br>
    <app-new-question [group]='q' [testType]="this.baseForm.get('type').value"></app-new-question>
</div>
<div id="newquestionprompt" #newquestionprompt style="display:none">
    <p>Tip pitanja:</p>
    <select [(ngModel)]='selectedType'>
        <option [ngValue]='1'>Slobodan unos broja</option>
        <option [ngValue]='2'>Slobodan unos kratkog teksta</option>
        <option [ngValue]='3' *ngIf="this.baseForm.get('type').value == 'A'">Slobodan unos dugog teksta</option>
        <option [ngValue]='4'>Izbor jednog od ponudjenih odgovora</option>
        <option [ngValue]='5'>Izbor vise od ponudjenih odgovora</option>
        <option [ngValue]='6'>Pretraga postojece baze pitanja</option>
    </select>
    <button (click)='confirmNewQuestion()'>Dodaj</button>
</div>
<div *ngIf="showSearch">
    <button (click)="cancelSearch()">Otkazi pretragu</button><br>
    Tekst za pretragu: <br>
    <input [(ngModel)]="searchQuery" type="string"><button (click)="runSearch()">Trazi</button> <br>
    <div *ngIf="searchResults.length">
        Tekst pitanja:
        <div *ngFor="let q of searchResults">
            <span *ngIf="q.type!==3 || (q.type===3 && this.baseForm.get('type').value == 'A')">
                <p>{{q.question}} <button (click)="selectQuestionToAdd(q)">Izaberi</button></p>
            </span>
        </div>
    </div>
    <div *ngIf="ranSearch && !searchResults.length">Nema rezultata</div>
</div>

<div class="box filled wide" style="display: grid;">
<button (click)="addQuestion()">Dodaj pitanje</button><br>
<button (click)="submit()">Sacuvaj test</button>
</div>