<div class="create-question-form">
    <form [formGroup]="group">
    <label>Tekst pitanja</label><br>
    <input formControlName="question" type="string" class="form-control"
    id="text" placeholder="Pitanje"> <br>
    <label>Odgovori</label> <button (click)="add()" class="add-btn" *ngIf="questionType()!==3">+</button><br>
    <div [ngSwitch]="questionType()">
        <div *ngSwitchCase="1">
            <div formArrayName="answerFields"
            *ngFor="let field of answerFields(); let i = index; trackBy:trackByFn" [attr.data-index]="i">
                <div formGroupName="{{i}}" class="question-input-grid">
                    <span *ngIf='i==0'></span><span *ngIf='i==0'>Tekst potpitanja</span><span *ngIf='i==0'>Odgovor</span><span *ngIf='i==0'></span>
                    <span>{{i+1}}.</span>
                    <input type="string" formControlName="extraInfo">
                    <input type='number' formControlName="answer"> 
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div formArrayName="answerFields" *ngFor="let field of answerFields(); let i = index; trackBy:trackByFn" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <span *ngIf='i==0'></span><span *ngIf='i==0'>Tekst potpitanja</span><span *ngIf='i==0'>Odgovor</span><span *ngIf='i==0'></span>
                    <input type="string" formControlName="extraInfo">
                    <input type='string' formControlName="answer">
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="3">
            <div formArrayName="answerFields">
                <div formGroupName="0">
                    <textarea formControlName="answer" style="height: 5rem;"></textarea>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="4">
            <div formArrayName="answerFields"  *ngFor="let field of answerFields(); let i = index; trackBy:trackByFn" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <input type='radio' [checked]="rbAnswers[i]" (change)="radioChecked(i)">
                    <input type='string' formControlName="extraInfo">
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="5">
            <div formArrayName="answerFields"  *ngFor="let field of answerFields(); let i = index; trackBy:trackByFn" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <input type='checkbox' formControlName="answer" value="{{i}}">
                    <input type='string' formControlName="extraInfo">
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>