<div class="create-question-form">
    <form [formGroup]="group">
    <label>Tekst pitanja</label><br>
    <input formControlName="question" type="string" class="form-control"
    id="text" placeholder="Pitanje"> <br>
    <label>Odgovori</label> <button (click)="add()" class="add-btn" *ngIf="questionType()!==3">+</button><br>
    <div [ngSwitch]="questionType()">
        <div *ngSwitchCase="1">
            <div formArrayName="answerFields" *ngFor="let field of answerFields(); let i = index" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <input type='number' formControlName="answer"> 
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div formArrayName="answerFields" *ngFor="let field of answerFields(); let i = index" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <input type='string' formControlName="answer">
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="3">
            <div formArrayName="answerFields">
                <div formGroupName="0">
                    <!-- TODO veliko tekst polje -->
                    <input type='text' formControlName="answer"> 
                </div>
            </div>
        </div>
        <div *ngSwitchCase="4">
            <div formArrayName="answerFields"  *ngFor="let field of answerFields(); let i = index" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <input type='radio' formControlName="answer" value="{{i}}">
                    <input type='string' formControlName="extraInfo">
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                    
                </div>
            </div>
        </div>
        <div *ngSwitchCase="5">
            <div formArrayName="answerFields"  *ngFor="let field of answerFields(); let i = index" [attr.data-index]="i">
                <div formGroupName="{{i}}">
                    <input type='checkbox' formControlName="answer" value="{{i}}">
                    <input type='string' formControlName="extraInfo">
                    <button (click)="remove(i)" *ngIf="i!==0" class="remove-btn">-</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>