<h3>Dostupni testovi i ankete</h3>
<span *ngIf="!odobren; else odobrenn">Niste odobreni korisnik. Sacekajte da vas administrator odobri.</span>
<ng-template #odobrenn>
<span *ngIf="loading; else loaded">Loading...</span>
<ng-template #loaded>
<table>
    <tr>
        <th>Ime</th>
        <th>Info</th>
        <th>Tip</th>
        <th>Pocetak</th>
        <th>Kraj</th>
        <th>Trajanje (min)</th>
        <th>Broj pitanja</th>
        <th></th>
    </tr>
    <tr *ngFor="let t of tests">
        <td>{{t.test.name}}</td>
        <td>{{t.test.info}}</td>
        <td>{{type(t.test.type)}}</td>
        <td>{{dateString(t.test.begin)}}</td>
        <td>{{dateString(t.test.end)}}</td>
        <td>{{t.test.durationMin}}</td>
        <td>{{questionCount(t.test)}}</td>
        <td>
            <span *ngIf="available(t); else unavail"><button (click)="start(t)">Zapocni</button></span>
            <ng-template #unavail>
                <span *ngIf="t.test.type==='A' && t.finished"><button (click)="viewResponse(t)">Pregledaj odgovore</button></span>
                <span *ngIf="t.test.type==='T'; noscore">Osvojeni poeni: {{t.score}}/{{t.test.maxScore}}</span>
                <ng-template #noscore>Test nije dostupan.</ng-template>
            </ng-template>
        </td>
    </tr>
</table>
<span *ngIf="tests.length===0"  class='centered'>Nema dostupnih testova.</span>
</ng-template>
</ng-template>