<a [routerLink]="['/kreator']">&lt; Nazad</a>
<div *ngIf="anketa(); else testdiv" class="test-grid">
    <div class="anketa-charts">
        <div>
            <h2>Anketa: {{test.name}}</h2>
            <p>{{test.info}}</p>
            <p>Pocetak ankete: {{beginTime()}}</p>
            <p>Kraj ankete: {{endTime()}}</p>
            <p>Trajanje: {{test.durationMin}}</p>
            <p>Broj pitanja: {{test.questions.length}}</p><br>
<!-- Charts -->
            <div *ngFor='let q of test.questions; let i = index' [attr.data-index]="i">
                <app-display-question [question]='q' [index]="i+1" [disabled]='true'>
                    <div *ngIf="q.type!==3">
                        <app-question-stat-chart [question]='q' [reportQuestion]='report.questions[i]'></app-question-stat-chart>
                    </div>
                </app-display-question>

            </div>
        </div>
    </div>
    <div class="responses" *ngIf="responsesLen(); else noresponse">
        <h3>Odgovori</h3>
        <div class="response-bar head">
            <span class="user" *ngIf="!test.anon; else isanon">Korisnicko ime</span>
            <ng-template id="isanon" #isanon><span  class="user">Redni broj</span></ng-template>
            <span>Ceo odgovor</span>
        </div>
        <div *ngFor='let response of responsesInfo; let i=index;' [attr.data-index]="i" class="response-bar">
            <span class="user" *ngIf="!test.anon; else isanon">{{response.username}}</span>
            <ng-template id="isanon" #isanon  class="user"><span  class="user">{{i+1}}.</span></ng-template>
            <button (click)="viewMore(response)" class="add-btn">+</button>
        </div>
    </div>
    <ng-template #noresponse><h4>Nema odgovora na ovu anketu.</h4></ng-template>
</div>
<ng-template #testdiv>
    <div class="test-grid" *ngIf="loaded">
    <div>
        <h2>Test: {{test.name}}</h2>
        <p>{{test.info}}</p>
        <p>Pocetak testa: {{beginTime()}}</p>
        <p>Kraj testa: {{endTime()}}</p>
        <p>Trajanje: {{test.durationMin}}</p>
        <p>Broj pitanja: {{test.questions.length}}</p><br>
        <app-score-bar-chart [scoreData]="scoresData"></app-score-bar-chart>
    </div>
    <div class="responses"  *ngIf="responsesLen(); else noresponse">
        <h3>Odgovori</h3>
        <div class="response-bar head">
            <span class="user">Korisnicko ime</span>
            <span class="score">Poeni</span>
            <span>Ceo odgovor</span>
        </div>
        <div *ngFor='let response of responsesInfo' class="response-bar">
            <span class="user">{{response.username}}</span>
            <span class="score">{{response.score}}/{{maxScore()}}</span>
            <button (click)="viewMore(response)" class="add-btn">+</button>
        </div>
    </div>
    </div>
    <ng-template #noresponse><h4>Nema odgovora na ovaj test.</h4></ng-template>
</ng-template>