.response-bar {
    background: #e4dfda;
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 3px;
    margin: 3px;
}

.response-bar .user {
    flex-grow: 2;
}

.response-bar .score {
    flex-grow: 2;
}

.head {
    background: #1976d2;
    color: white;
}
.test-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.test-grid p {
    margin: 0.3em;
}