<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span *ngIf="loggedIn">
    &nbsp; Dobrodosli, {{username}}!
  </span>
    <div class="spacer"></div>
      <a class="toolbar-link" [routerLink]="['/home']">Home</a>
      <span *ngIf="!loggedIn">
      <a class="toolbar-link" [routerLink]="['/login']">Login</a>
      <a class="toolbar-link" [routerLink]="['/register']">Register</a>
      </span>
      <span *ngIf="loggedIn">
      <a class="toolbar-link" [routerLink]="['/logout']">Log out</a>
      <a class="toolbar-link" [routerLink]="['/changepwd']">Change password</a>
      </span>
</div>

<div class="content" role="main">


<router-outlet></router-outlet>