.toolbar-link {
    color: white !important;
    margin: 5px;
}

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.content {
    margin-top: 70px !important;
}

.remove-btn {
    border: 0;
    color: red;
    background-color: rgba(0,0,0,0.03);
}

.centered {
    text-align: center;
    margin: 15px;
}

.add-btn {
    border: 0;
    color: green;
    background-color: rgba(0,0,0,0.03);
}

.form-group {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}

.form-group input {
    margin-bottom: 10px;
}

.question-input-grid {
    width: 320px;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
}

.question-input-grid input {
    margin: 5px;
}

.question-input-grid-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}

td, th {
    padding: 0 5px;
    border: 1px #e4dfda solid;
}

.head-button {
    margin: 10px 0;
    width: 100%
}

.head-button h3 {
    display: inline;
}

.head-button a {
    float: right;
}

.test-lower {
    margin-top: 40px !important;
}

.wide {
    width: 100%;
}

.box {
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    border: 2px #e4dfda solid;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    position: relative;
    left: -25px;
}

.filled {
    background: #e4dfda;
}

.center {
    text-align: center;
}

textarea {
    height: 5rem;
    width:100%;
}