<div [class]="classes +' box'">
{{index}}. {{question.question}}<br><br>
<div *ngFor="let ansField of question.answerFields; let i = index" [attr.data-index]="i">
    <div [ngSwitch]="question.type">
        <div *ngSwitchCase="1">
            {{i+1}}. {{ansField.extraInfo}}<br *ngIf="ansField.extraInfo"> <input type="number" [(ngModel)]="answers[i]" [disabled]="disabled">
        </div>
        <div *ngSwitchCase="2">
            {{i+1}}. {{ansField.extraInfo}}<br *ngIf="ansField.extraInfo"> <input type="string" [(ngModel)]="answers[i]" [disabled]="disabled">
        </div>
        <div *ngSwitchCase="3">
            <textarea type="text" [(ngModel)]="answers[i]" [disabled]="disabled"></textarea>
        </div>
        <div *ngSwitchCase="4">
            <input type='radio' [checked]="answers[i]" (change)="radioChecked(i)" [disabled]="disabled"> {{ansField.extraInfo}}
        </div>
        <div *ngSwitchCase="5">
            <input type="checkbox" [(ngModel)]="answers[i]" [disabled]="disabled"> {{ansField.extraInfo}}
        </div>
    </div>
</div>
<ng-content></ng-content>
</div>
